{% extends 'layout.html' %}

{% block content %}
<div class="container">
   
    <div class="main">
        <div class="topbar"></div>
        <div class="graphBox">
            <div class="card">
                <canvas id="TemperatureChartContainer" style="height: 370px; width: 100%;"></canvas>
            </div>
        </div>
        <div class="graphBox">
            <div class="card">
                <canvas id="HumidityChartContainer" style="height: 370px; width: 100%;"></canvas>
            </div>
        </div>
        <div class="graphBox">
            <div class="card">
                <canvas id="DecibelChartContainer" style="height: 370px; width: 100%;"></canvas>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    window.onload = function () {
	    const dates ="{{dates}}";
        const labels = dates.split(',');
	 
        const data = {
            labels: labels,
            datasets: [{
                label: '온도',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [{{temps}}],
            }]
        };
        const temperatureChartConfig = {
            type: 'line',
            data: data,
            options: {}
        };
        var chart = new Chart(document.getElementById('TemperatureChartContainer'), temperatureChartConfig);


        const data1 = {
            labels: labels,
            datasets: [{
                label: '습도',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data:[{{humids}}],
            }]
        };
        const humidityChartConfig = {
            type: 'line',
            data: data1,
            options: {}
        };
        var chart1 = new Chart(document.getElementById('HumidityChartContainer'), humidityChartConfig);

        const data2 = {
            labels: labels,
            datasets: [{
                label: '데시벨',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
		    data: [{{decibels}}],
            }]
        };
        const decibleChartConfig = {
            type: 'line',
            data: data2,
            options: {}
        };
        var chart = new Chart(document.getElementById('DecibelChartContainer'), decibleChartConfig);

    }
</script>
{% endblock %}
