{% extends 'layout.html' %}

{% block content %}
<div class="container">
   
    <div class="main">
        <div class="topbar"></div>
        <div class="ip">{{temps}}</div>
        <div class="graphBox">
            <div class="card">
                <canvas id="TemperatureChartContainer" style="height: 370px; width: 100%;"></canvas>
            </div>
        </div>
        <div class="graphBox">
            <div class="card">
                <canvas id="TemperatureChartContainer2" style="height: 370px; width: 100%;"></canvas>
            </div>
        </div>
        <div class="graphBox">
            <div class="card">
                <canvas id="TemperatureChartContainer3" style="height: 370px; width: 100%;"></canvas>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	console.log({{temps}});
    window.onload = function () {

        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
        ];
        const data = {
            labels: labels,
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        };
        const config = {
            type: 'line',
            data: data,
            options: {}
        };
        var chart = new Chart(document.getElementById('TemperatureChartContainer'), config);


        const labels1 = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
        ];
        const data1 = {
            labels: labels,
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        };
        const config1 = {
            type: 'line',
            data: data,
            options: {}
        };
        var chart1 = new Chart(document.getElementById('TemperatureChartContainer2'), config);


        const labels2 = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
        ];
        const data2 = {
            labels: labels,
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        };
        const config2 = {
            type: 'line',
            data: data,
            options: {}
        };
        var chart = new Chart(document.getElementById('TemperatureChartContainer3'), config);

    }
</script>
{% endblock %}
