{% extends 'layout.html' %}

{% block content %}
<div class="ip" data-pi="{{ip}}"></div>
<p>현재 온도: <span id="temperature"></span></p>
<p>현재 습도: <span id="humidity"></span></p>
<video id="test" width="300" height="300">

</video>
<script src="/socket.io/socket.io.js"></script>
<script>
  const divIP = document.querySelector('.ip');
  const ip = divIP.dataset.pi;
  console.log(ip);
  const socket = io.connect(`http://${ip}:8001`, {
    path: '/socket.io',
    transports: ['websocket'],
  });
  socket.on('data', function (data) {
    //console.log(data);
    const temp = document.querySelector('#temperature');
    temp.textContent = data.temperature;
    const hum = document.querySelector('#humidity');
    hum.textContent = data.humidity;
  });
  // const video = document.querySelector('#test');
  // navigator.getUserMedia({ video: true, audio: false }, function (stream) {
  //   video.srcObject = stream; video.play(); }, function (error) { //Error
  // });
</script>
{% endblock %}
