{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="main">
        <div class="topbar"></div>
        <div class="cardBox">
            <div class="card">
                <div class="iconBox">
                    <i class="fas fa-temperature-high"></i>
                </div>
                <div>
                    <div id="temperature" class="numbers">온도값</div>
                    <div class="cardName">온도 타이틀</div>
                </div>

            </div>
            <div class="card">
                <div class="iconBox">
                    <i class="fas fa-tint"></i>
                </div>
                <div>
                    <div id="humidity" class="numbers">습도값</div>
                    <div class="cardName">습도 타이틀</div>
                </div>

            </div>
            <div class="card">
                <div class="iconBox">
                    <i class="fas fa-volume-up"></i>
                </div>
                <div>
                    <div id="decibel" class="numbers">데시벨</div>
                    <div class="cardName">데시벨 값</div>
                </div>

            </div>
            <div class="card">
                <div class="iconBox">

                </div>
                <div>
                    <div class="numbers">1042</div>
                    <div class="cardName">Daily Views</div>
                </div>

            </div>
        </div>
        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>Recent Orders</h2>

                </div>
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Payment</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Star Refrigenrator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td>Deliver</td>
                        </tr>
                        <tr>
                            <td>Star Refrigenrator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td>Deliver</td>
                        </tr>
                        <tr>
                            <td>Star Refrigenrator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td>Deliver</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="recentCustomers">
                <div class="cardHeader">
                    <h2>Recent Costomers</h2>

                </div>
                <table>
                    <tbody>
                        <tr>
                            <td width="60px">
                                <div class="imgBx">
                                    <img src="img1.jpg" alt="이미지">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/socket.io/socket.io.js"></script>
<script>
  const divIP = document.querySelector('.ip');
  const ip = divIP.dataset.pi;
  console.log(ip);
  const socket = io.connect(`http://${ip}:8001`, {
    path: '/socket.io',
    transports: ['websocket'],
  });
  socket.on('data', function (data) {
    //console.log(data);
    const temp = document.querySelector('#temperature');
    temp.textContent = data.temperature;
    const hum = document.querySelector('#humidity');
    hum.textContent = data.humidity;
    const decibel = document.querySelector('#decibel');
    decibel.textContent = data.decibel;
  });
</script>
{% endblock %}
